.search{
  width: 50vw;
  height: 52vh;
  position: relative;
  background-image:url('https://wallpaperaccess.com/full/5466409.jpg');
  background-color: #ccc;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchBox {
 
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ccc;
  width: 30rem;
  border-radius: 5px;
}

.searchBox::placeholder{
  color: #ccc;
}

.info-container{
  width: 50vw;
  height: 52vh;
  background-color: #f7e5e5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
